* 
    margin: 0
    box-sizing: border-box

// footer
footer>a:hover
    font-size: smaller
    
//Create page
input
    width: 100%

main
    min-height: 70vh
    padding: 5% 0%
    background: #212529

.label 
    font-weight: lighter
    color: lightgrey


//animal a_create page
th
    text-align: left
    color: whitesmoke

// dashboard
#dashboard_body
    background: #212529 url("../pictures/layout_img/bg.jpeg") center center no-repeat
    background-size: cover

#user_img
    width: 50px

#admin_img
    width: 80px

#admin_panel
    width: 100vw

