//Create page

input
    width: 100%


main
    min-height: 100vh
    background: #212529


.label 
    font-weight: lighter
    color: lightgrey


//animal a_create page
th
    text-align: left
    color: whitesmoke
    // padding-left: 50px
    // box-sizing: border-box

// dashboard
body
    // background: black url("../pictures/layout_img/bg.jpeg") center center
    // // link to the bg picture
    // background-size: cover

#dashboard_body
    background: black url("../pictures/layout_img/bg.jpeg") center center
    // link to the bg picture
    background-size: cover
    // background: black url("https://cdn-images-1.medium.com/max/1200/1*5fz2sKKTKjUmlVkWjtIUnQ.jpeg")  center center
    // background-size: cover

#user_img
    width: 50px

#admin_img
    width: 80px

#admin_panel
    width: 100vw
