//Create page

input
    width: 100%


main
    min-height: 100vh
    background: #212529


.label 
    font-weight: lighter
    color: lightgrey


//animal a_create page
th
    text-align: left
    color: whitesmoke
    // padding-left: 50px
    // box-sizing: border-box
    
